:root {
    --transition: 300ms all ease;
    --color-primary: #0D6EFD;
}

.projects-container {
    width: 100%;
    padding: 50%;
}

.project-title-div {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.5rem 1rem 1rem;
    margin-bottom: 0.8rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: var(--transition);
}

.project-title-div:hover {
    background: rgba(0,0,0,0.05);
}
.project-title {
    align-self: center;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.project-title:hover {
    color: var(--color-primary);
}

.check-button {
    display: flex;
    align-items: center;
    text-align: center;
    background: none;
    border: none;
}

.check-icon {
    font-size: 1.3rem;
    color: rgba(0,0,0,0.3);
}

.check-icon:hover {
    fill: var(--color-primary);
}

/* PROJECT PAGE */
.project-detail-p {
    line-height: 2;
}
