.hub {
  background-color: #2788E4;
}

.hub h1 {
  color: #ffffff;
  font-size: 75px;
  font-family: "Times New Roman", Times, serif;
}

.hub h2 {
  font-size: 55px;
  font-family: "Times New Roman", Times, serif;
}


.container {
  max-width: 85%;
  margin: auto;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.coursesCard {
  padding: 50px 0;
}

.coursesCard .items {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.coursesCard .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #2788E4;
  padding: 15px;
}

.coursesCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.coursesCard .text {
  margin-left: 10px;
  text-align: left;
}

.coursesCard .text h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 45px;
}

.coursesCard .rate {
  margin: 20px 0;
  color: #1eb2a6;
}

.coursesCard .rate i {
  font-size: 13px;
  margin-right: 5px;
}

.coursesCard .details .dimg img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.coursesCard .details .box {
  display: flex;
  align-items: center;
  color: grey;
}

.coursesCard .details span {
  color: #2788E4;
  font-weight: 500;
  font-size: 14px;
}

.coursesCard .price {
  margin: 30px 0;
  background-color: #f8f8f8;
  padding: 10px;
}

.coursesCard h3 {
  font-weight: 500;
  color: #2788E4;
}


.fa-star {
  color: #132f4a;
}

.button {
  margin-right: 20px;
  color: #2788E4;
}

.btn .btn-secondary {
  color: #2788E4;
}

.outline-btn {
  color: #ffffff;
  background-color: #2788E4;
}

.topic {
  background-color: rgba(104, 187, 227, 0.4);
  padding: 20px;
}

.topic-button {
  position: relative;
  background-color: #2788E4;
  border: none;
  font-size: 18px;
  color: #FFFFFF;
  padding: 1rem;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 15px
}

.topic-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.topic-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.flex-parent-element {
  display: flex;
  width: 150%;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
}

.flex-child-element:second-child {
  margin-left: 20px;
}

.catalog-button {
  border: 2px solid #4891d5;
  background-color: #89b3da;
  padding: 10px;
  border-radius: 50px;
  font-size: 20px;
  color: #fff;
}

.course-button {
  background-color: #6ca8e7;
  border: 1px solid green;
  color: #ffffff;
  padding: 15px 30px;
  cursor: pointer;
  width: 70%;
  display: block;
  margin: 15px;
  border-radius: 30px;
  font-size: 30px;
  text-align: left;
}

.tutorial-project {
  background-color: #ffffff;

  text-align: center;
  color: #2788E4;
}

.project-button {
  border: 2px solid #4891d5;
  background-color: #89b3da;
  padding: 10px;
  border-radius: 50px;
  font-size: 10px;
}

.tutorial-title {
  color: #4891d5;
  font-size: 50px;
}

.tutorial-header {
  color: #89b3da;
  font-size: 30px;
}

.tutorial-detail {
  color: #000000;
  font-size: 20px;

}