.body {
    background-color: rgba(104, 187, 227, 1);
}

.topic-col {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.37);
}

.form-control,
.answer-box {
    resize: none;
}

.row {
    height: 100%
}

.href-topic {
    text-decoration: none;
    color: black;
}

.creating-post {
    background-color: white;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;


}

.question-post {
    background-color: white;
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-top: 15px;
    border-radius: 10px;
    padding: 10px;

}
.question-value{
    padding:5px;
}

#user-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 100%;

}

.a-userAvatar {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.avatar {

    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: start;

}

.topic-selection {

    width: 40%;

}

.posting-btn {

    background-color: #2577C1;
    color: aliceblue;
    margin-right: 10px;
    border-style: none;
    border-radius: 5px;
    position: relative;


}

.p-b {
    display: flex;
    justify-content: flex-end;
}

.three-dot {
  
    margin-top: 15px;
  
    margin-right: 10px;
    border: none;
    background-color: #2577C1;
}

.question-content {
    margin: 10px;
    background-color: rgb(254, 254, 254);
    
    word-wrap: break-word;
    text-decoration: none;
    border:1px solid rgba(0, 0, 0, 0.322);
    background-color: rgba(0, 0, 0, 0.046);
    border-radius: 10px;
    
    
}
.question-content p {
    text-align: center;
    padding: 5px;
}
.question-link{
    text-decoration: none;
    color: black;

}
.question-link:hover{
    color: #2577C1;
}


.topic-chosen{
    margin-left:10px;
    font-weight: 300;
    
}

.answer-content {
    margin: 10px;

    position: relative;

    display: block;
    padding: 0;
   
}

.answer-box,
.answer-list {

    margin: 0;
    width: 100%;
}

.answer {


    border: 1px solid black;
    list-style-position: inside;
    width: 100%;
    margin: 0;
    padding: 1px;
    display: inline-block;
}

.divider {
    text-align: center;
    padding: 0;
    color: rgb(132, 132, 132);
}

.dot-menu {

    margin-block-end: auto;
    margin-left: auto;
}

.menu-content {
    position: absolute;

    width: 100px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    background-color: white;
}

.list-group-item:hover, .topic:hover{
    cursor: pointer;
    color: blue;
}


.dot-lists {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
}

.dot-list {
    padding: 8px 12px;
    color: black;

}

.dot-list:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.pagination{
    margin-top: 10px;
    margin-bottom: 5px;
    justify-content: center;
}


  
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  
.question-answer{
    
    
    background-color: #2577C1;
    color: white;
    border-radius: 5px;
}
.individual-question{
    border: 2px solid #2577C1;
    background-color: #fff;

    margin: 10px;
    background-color: rgb(254, 254, 254);
    
    word-wrap: break-word;
    text-decoration: none;
    border-radius: 5px;
}
.user-question{
margin: 10px;
}

.answer-a{
    border: 1px solid #2577C1;
    margin-top: 10px;
    border-radius: 5px;
    overflow: auto;
    
   
}
.answer-img{
    float: left;
}
.answer-img img{
    display: block;
    margin: 10px;

}
.answer-info{
    margin-left: 40px;
    padding: 10px;
    
    font-size: smaller;
    
}
.a-userName{
font-style: italic;
}
.reply-text{
    background-color: #2578c173;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.date-created{
    font-weight: lighter;
}

