.interview-image {
  width: 220px;
  border-radius: 20px;
}
.sidebar-container {
  background-color: rgba(60, 148, 206, 0.757);
}
.choose-topic-btn {
  border: none;
  background-color: #0E6DFD;
  color: #fff;
  text-decoration: underline;
}

.sidebar-common-questions-btn {
  border: 1.5px solid white;
  border-radius: 10px;
  background-color: white;
  color: rgb(146, 44, 146);
}

.question-header {
  background-color: #C8DCEF;
  width: 100%;
  margin: 15px 0;
  display: table;
  border-radius: 15px;
}
.question-container {
  background-color: rgb(126, 173, 220);
  padding: 5px 5px;
  border-radius: 5px;
}
.question {
  background-color: #e1e1e1;
  color: rgb(81, 81, 81);
  border-radius: 5px;
}

.answer-container {
  margin-left: auto;
}

.answer-button {
  border: none;
  width: 20px;
  height: auto;
  background-color: #ccc;
  border-radius: 5px;
}

.save-btn {
  border: none;
  border-radius: 10px;
  background-color: #a2d5e3;
  color: #434343;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  /* background-color: #b5c3d1; */
  background-color: #e1d27a;
  color: #414141;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
  border-radius: 5px;
  margin-bottom: 5px;
}
.content.show {
  background-color: #e1d27a;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
  margin-bottom: 5px;
}