.interview-image {
  width: 250px;
  border-radius: 20px;
}
.sidebar-container {
  background-color: rgba(60, 148, 206, 0.757);
}
.choose-topic-btn {
  border: none;
  background-color: #0E6DFD;
  color: #fff;
  text-decoration: underline;
}

.sidebar-common-questions-btn {
  border: 1.5px solid white;
  border-radius: 10px;
  background-color: white;
  color: rgb(146, 44, 146);
}

.question-header {
  background-color: #C8DCEF;
  width: 100%;
  margin-top: 15px;
  display: table;
  border-radius: 15px;
}
.question {
  background-color: #D9D9D9;
  color: rgb(81, 81, 81);
}
.question-1 {
  margin-top: 20px;
}

.answer-button {
  border: none;
}

.save-btn {
  border: none;
  border-radius: 10px;
  background-color: #d7d7d7;
  color: #434343;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  background-color: #a1c8ec;
  color: #414141;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}
.content.show {
  background-color: #a1c8ec;
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1,0,1,0);
}