@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2 {
  font-weight: 500;
}

.custom-transition{
  transition: 400ms all ease;
}